@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{box-sizing: border-box; margin: 0%; padding: 0%;}

/*CSS Varables*/
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body{
  background-color: #565e64;
  font-family: 'Righteous', cursive;
}

/*navbar settings*/
.navbar {
  background-color: #afb1ae !important;
}

/*Links on the navbar*/
.navbar-brand, .nav-link {
  color: white !important;
  font-size: 1.7rem;
}

/*dropdown menu with the other links*/
.dropdown-menu {
  background-color: #afb1ae;
}

#dropdownMenuLink:hover {
  color: #afb1ae;
  background-color: cornsilk;
}

/*dropdown item color of the other links*/
.dropdown-item {
  color: white;
}

/*On the dropdrown I have changed the background color and font color to change on hover*/
.dropdown-item:hover {
  background-color: #565e64;
  color: #afb1ae;
}

/*Styling settings for headings*/
h1, h2 {
  text-align: center;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 3.5rem;
}

/*Made the headings upon hover change color */
h1:hover {
  color: #afb1ae;
}

h3, h4 {
  text-align: center;
  color: #565e64;
  /* font-size: 1rem; */
}

.title {
  text-align:center;
  color: white;
}

p {
  color: white;
}

/*Styling settings changed on the carousel to make the pictures smaller and in the center*/
#carouselExampleIndicators {
  margin-top: 40px;
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  font-style: italic;
  color: #e3e5e7;
}

/*All the content styling settings*/
article {
  margin-top: 3%;
  font-family: 'Righteous', cursive;
  font-size: 1.1em;
  letter-spacing: 0.1cm;
  color: #010b13;
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 10px;
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

img {
  height: 75%;
  width: 95%;
}

.driver {
margin-left: 30%;
}

.teams {
  margin-left: 30%;
}

table {
  margin-left: 20%;
  margin-right: 20%;
}

td, th {
  border: 3px solid #565e64;
  padding: 0.5rem;
  background-color: #afb1ae;
}

.flag {
  height: 5%;
  width: 5%;
}

footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/*This where an inital test of Media Queries*/
/*Media Queries*/
/* @media (orientation: portrait) {
    body{
        background-color: hotpink;
    }
}

@media (orientation: landscape) {
    body{
        background-color: brown;
    }
} */