@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
  background-color: #565e64;
  font-family: 'Righteous', cursive;

}


*{box-sizing: border-box; margin: 0%; padding: 0%;}

.navbar {
  background-color: #afb1ae !important;
  /* color: white !important; */
}

/* .navbar:hover{
  color: #565e64;
} */

.navbar-brand, .nav-link {
  color: white !important;
  font-size: 1.7rem;
}

/* .navbar-brand:hover, .nav-link:hover {
  color: #565e64;
} */


.dropdown-menu {
  background-color: #afb1ae;
}

.dropdown-item {
  color: white;
  /* color: aliceblue; */
  /* color:whitesmoke; */
/* color: antiquewhite; */
}

.dropdown-item:hover {
  background-color: #565e64;
  color: #afb1ae;
}


h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
  /* color: white; */
  color: white;
  font-size: 6rem;
}

h1:hover {
  color: #afb1ae;
  transition-duration: 0.5s;
  /* transition-timing-function: ease-in-out; */
  /* transition: ease-out; */
}







article {
  margin-top: 3%;
}

p {
  font-family: 'Righteous', cursive;
  /* font-weight: bold; */
  font-size: 1.1em;
  /* letter-spacing: 1rem; */
  /* letter-spacing: 1em; */
  letter-spacing: 0.1cm;

  color: #010b13;
  /* margin-top: 40px; */
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}


#carouselExampleIndicators {
  margin-top: 40px;
  width: 50%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .header {
  margin-top: 100px;
} */











/* @media (orientation: portrait) {
    body{
        background-color: hotpink;
    }
}

@media (orientation: landscape) {
    body{
        background-color: brown;
    }
} */