@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: darkorange;
}

.navbar {
    background-color: #afb1ae !important;
    /* color: white !important; */
    font-family: 'Righteous', cursive;
}

.navbar-brand, .nav-link {
    color: white !important;
}




  img {
    max-height: 500px !important;
    min-height: 500px !important;
    min-width: 800px;
    max-width: 500px;
    text-align: center;

    object-fit: cover;
    object-position: center;
  }







@media (orientation: portrait) {
    body{
        background-color: hotpink;
    }
}

@media (orientation: landscape) {
    body{
        background-color: brown;
    }
}