{% extends 'base.html' %}

{% block content %}

<h1>Circuits</h1>

<section class="boxes">
    <div class="box">
        <h3>Australian GP</h3>
        <img src="/static/img/albertPark.png" alt="Australian GP at Albert Park">
        <h4>Albert Park</h4>
    </div>
    <div class="box">
        <h3>Brazilian GP</h3>
        <img src="/static/img/saopaulo.jfif" alt="Brazilian GP at Sao Paulo">
        <h4>Sao Paulo</h4>
    </div>
    <div class="box">
        <h3>San Marino GP</h3>
        <img src="/static/img/sanmarino.png" alt="San Marino GP at Imola">
        <h4>Imola</h4>
    </div>
    <div class="box">
        <h3>Monaco GP</h3>
        <img src="/static/img/mon.png" alt="Monaco GP at Monte-Carlo">
        <h4>Monte-Carlo</h4>
    </div>
</section>

<section class="boxes">
    <div class="box">
        <h3>Spanish GP</h3>
        <img src="/static/img/spanish.png" alt="Spanish GP at Circuit de Catalunya">
        <h4>Circuit de Catalunya</h4>
    </div>
    <div class="box">
        <h3>Canadian GP</h3>
        <img src="/static/img/canadian.png" alt="Canadian GP at Montreal">
        <h4>Montreal</h4>
    </div>
    <div class="box">
        <h3>French GP</h3>
        <img src="/static/img/french.png" alt="French GP at Magny-Cours">
        <h4>Magny-Cours</h4>
    </div>
    <div class="box">
        <h3>British GP</h3>
        <img src="/static/img/silverstone.png" alt="British Gp at Silverstone">
        <h4>Silverstone</h4>
    </div>
</section>

<section class="boxes">
    <div class="box">
        <h3>Austrian GP</h3>
        <img src="/static/img/A1-Ring.png" alt="Austrian GP at A1-Ring">
        <h4>A1-Ring Spielberg</h4>
    </div>
    <div class="box">
        <h3>German GP</h3>
        <img src="/static/img/german.png" alt="German GP at Hockenheim">
        <h4>Hockenheim</h4>
    </div>
    <div class="box">
        <h3>Hungarian GP</h3>
        <img src="/static/img/Hungarian.png" alt="Hungarian GP at Mogyorod">
        <h4>Mogyorod</h4>
    </div>
    <div class="box">
        <h3>Belgian GP</h3>
        <img src="/static/img/belgian.png" alt="Belgian GP at Spa-Francorchamps">
        <h4>Spa-Francorchamps</h4>
    </div>
</section>

<section class="boxes">
    <div class="box">
        <h3>Italian GP</h3>
        <img src="/static/img/italian.png" alt="Italian GP at Monza">
        <h4>Monza</h4>
    </div>
    <div class="box">
        <h3>European GP</h3>
        <img src="/static/img/european.png" alt="European GP at Nurburg">
        <h4>Nurburg</h4>
    </div>
    <div class="box">
        <h3>Malaysian GP</h3>
        <img src="/static/img/malaysian.png" alt="Malaysian GP at Kuala Lumpur">
        <h4>Kuala Lumpur</h4>
    </div>
    <div class="box">
        <h3>Japanese GP</h3>
        <img src="/static/img/japanese.png" alt="Japanese GP at Suzuka">
        <h4>Suzka</h4>
    </div>
</section>

<footer>
    <p>History of Formula 1 and The 1999 Season &copy; Rebbeca Fox 2022</p>
</footer>

{% endblock %}