{% extends 'base.html' %}

{% block content %}

<h1>F1 1999 Driver Standing</h1>

<table class="driver">
    <thead>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Nationality</th>
            <th>Car</th>
            <th>Points</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1st</td>
            <td>Mika Hakkinen</td>
            <td>Fin</td>
            <td>McLaren Mercedes</td>
            <td>76</td>
        </tr>

        <tr>
            <td>2nd</td>
            <td>Eddie Irvine</td>
            <td>GBR</td>
            <td>Ferrari</td>
            <td>74</td>
        </tr>

        <tr>
            <td>3rd</td>
            <td>Heinz-Harald Frentzen</td>
            <td>GER</td>
            <td>Jordan Mugen Honda</td>
            <td>54</td>
        </tr>

        <tr>
            <td>4th</td>
            <td>David Coulthard</td>
            <td>GBR</td>
            <td>McLaren Mercedes</td>
            <td>48</td>
        </tr>

        <tr>
            <td>5th</td>
            <td>Michael Schumacher</td>
            <td>GER</td>
            <td>Ferrari</td>
            <td>44</td>
        </tr>

        <tr>
            <td>6th</td>
            <td>Ralf Schumacher</td>
            <td>GER</td>
            <td>Williams Supertec</td>
            <td>35</td>
        </tr>

        <tr>
            <td>7th</td>
            <td>Rubens Barrichello</td>
            <td>BRA</td>
            <td>Stewart Ford</td>
            <td>21</td>
        </tr>
            
        <tr>
            <td>8th</td>
            <td>Johnny Herbert</td>
            <td>GBR</td>
            <td>Stewart Ford</td>
            <td>15</td>
        </tr>

        <tr>
            <td>9th</td>
            <td>Giancarlo Fisichella</td>
            <td>ITA</td>
            <td>Benetton Playlife</td>
            <td>13</td>
        </tr>

        <tr>
            <td>10th</td>
            <td>Mika Salo</td>
            <td>FIN</td>
            <td>Ferrari</td>
            <td>10</td>
        </tr>

        <tr>
            <td>11th</td>
            <td>Jarno Trulli</td>
            <td>ITA</td>
            <td>Prost</td>
            <td>7</td>
        </tr>

        <tr>
            <td>12th</td>
            <td>Damon Hill</td>
            <td>GBR</td>
            <td>Jordan Mugen Honda</td>
            <td>7</td>
        </tr>

        <tr>
            <td>13th</td>
            <td>Alexander Wurz</td>
            <td>AUT</td>
            <td>Benetton Playlife</td>
            <td>3</td>
        </tr>

        <tr>
            <td>14</td>
            <td>Pedro Diniz</td>
            <td>BRA</td>
            <td>Sauber Pertonas</td>
            <td>3</td>
        </tr>

        <tr>
            <td>15th</td>
            <td>Olivier Panis</td>
            <td>FRA</td>
            <td>Prost Peugeot</td>
            <td>2</td>
        </tr>

        <tr>
            <td>16th</td>
            <td>Jean Alesi</td>
            <td>FRA</td>
            <td>Sauber Pertonas</td>
            <td>2</td>
        </tr>

        <tr>
            <td>17th</td>
            <td>Pedro De La Rosa</td>
            <td>ESP</td>
            <td>Arrows</td>
            <td>1</td>
        </tr>

        <tr>
            <td>18th</td>
            <td>Marc Gene</td>
            <td>ESP</td>
            <td>Minardi Ford</td>
            <td>1</td>
        </tr>




        </tr>
    </tbody>

</table>


    <footer>
        <p>History of Formula 1 and The 1999 Season &copy; 2022</p>
    </footer>


{% endblock %}