{% extends 'base.html' %}

{% block content %}

<body>
  <h1>The History of Formula One</h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/img/f1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/ed2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/ed_canada.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <article>
    <h3 class="title">The Origins of Formula One</h3>
    <blockquote>
      The first ever motor race, were in France 1894, bemused onlookers, but road racing was soon all the rage, until
      ever-increasing speeds confined racing to specially built circuits. And the cars just went faster and faster...
    </blockquote>

    <p>In the beginning Formula One automobile racing had roots in the European Grand Prix championships of the 1920,
      and 1930s, althought the foundation of the modern Formula One begain in 1946 with the Federation Internationale de
      l'Automobile's (FIA) stanndardisation of rules, which was followed by a World Championship of Drivers in 1950, and
      in 1958 where the first Constructors' Cup.</p>
  </article>

  <article>
    <p>In the beginning, the formula was largely based on pre-World War II regulations defined by engine capacity. The
      regulation expected to bring a new balance between supercharged and normally aspirated cars. Non-supercharged
      4.5-litre pre-war Grand Prix cars were allowed to race against the pre-war 1.5-litre supercharged 'voiturettes',
      while pre-war supercharged 3-litre Grand Prix cars were banned.
    </p>

  </article>

  <footer>
    <p>History of Formula 1 and The 1999 Season &copy; Rebbecca Fox 2022</p>
  </footer>

</body>

</html>

{% endblock %}