{% extends 'base.html' %}

{% block content %}
<body>
    <h1>The History of Formula One</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static\img\f1_ferrari.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/f1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/f1s.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


      
    <article>
      <h3>The Origins of Formula One</h3>
      <blockquote>
        The first ever motor race, were in France 1894, bemused onlookers, but road racing was soon all the rage, until ever-increasing speeds confined racing to specially built circuits. And the cars just went faster and faster...
      </blockquote>


        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab deserunt officia earum quos, ullam modi voluptatibus voluptates eos aut voluptatem impedit nostrum asperiores quod architecto fugiat accusamus? Assumenda molestiae sit maiores reprehenderit, veniam eligendi deleniti ratione omnis, veritatis laboriosam quo numquam quos voluptatibus ab magnam molestias laborum quidem dignissimos ullam tenetur ex minima vel! Natus nihil nesciunt corrupti minima nobis porro fuga quas magni, praesentium laborum repudiandae odit inventore enim exercitationem in quisquam similique suscipit adipisci ipsum eligendi. Optio accusamus ullam voluptas? Error, pariatur sapiente neque numquam ipsa dolorem dicta facere quasi veritatis magnam molestiae perspiciatis doloremque quos. Officiis, repellat.</p>
    </article>

    <article>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dicta laboriosam adipisci unde officia dolor pariatur. Laborum animi vitae accusamus odio magni ad quia quas nulla, non perspiciatis. Alias molestias distinctio cupiditate ex iusto, earum dolore neque est, rerum consequatur eum voluptatum quas quasi ipsum enim deserunt temporibus ea vel sint. Quia facere vero blanditiis magnam eaque tempora eius, neque quas, illo veniam molestias nam! Veritatis voluptates eligendi, quos corrupti accusamus rerum quia impedit delectus nesciunt iusto aperiam nisi minus natus repellendus fugiat. Veniam, eveniet dolore, illum distinctio magnam nam deserunt sint voluptatem consequuntur fugit dolor consectetur nesciunt excepturi aliquid.</p>
    </article>

  




</body>
</html>
{% endblock %}