{% extends 'base.html' %}

{% block content %}
<h1>F1 Race Calendar 1999</h1>




<table>
    <thead>
      <tr>
        <th>Flag</th>
        <th>Date</th>
        <th>Country</th>
        <th>Race Track</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="flag"><img src="/static/img/Australia.jpg" alt="Australia Flag"></td>
        <td>7th March 1999</td>
        <td>Australia</td>
        <td>Albert Park</td>
      </tr>

      <tr>
        <td class="flag"><img src="/static/img/Brazil.png" alt="Brazilian Flag"></td>
        <td>11th April 1999</td>
        <td>Brazi</td>
        <td>Autodromo Jose Carlos pace, Interlagos</td>
      </tr>

      <tr>
        <td class="flag"><img src="/static/img/SanMarino.jpg" alt="San Marino Flag"></td>
        <td>2nd May 1999</td>
        <td>San Marino</td>
        <td>Autodromo Enzo e Dino Ferrari</td>
      </tr>

      <tr>
        <td class="flag"><img src="/static/img/Monaco.png" alt="Monaco Flag"></td>
        <td>16th May 1999</td>
        <td>Monaco</td>
        <td>Monte Carlo circuits</td>
      </tr>

      <td class="flag"><img src="/static/img/spain.png" alt="Spanish Flag"></td>
      <td>30th May 1999</td>
      <td>Spain</td>
      <td>Circuit de Catalunya</td>
    </tr>

    <td class="flag"><img src="/static/img/canada.png" alt="Candian Flag"></td>
    <td>13th June 1999</td>
    <td>Canada</td>
    <td>Circuit Gilles Villeneuve</td>
  </tr>

  <td class="flag"><img src="/static/img/France.png" alt="French Flag"></td>
  <td>27th June 1999</td>
  <td>France</td>
  <td>Circuit Nevers Magny-Cours</td>
</tr>






<td class="flag"><img src="/static/img/UK.png" alt="Great Britian Flag"></td>
<td>11th July 1999</td>
<td>Great Britian</td>
<td> Silverstone Circuit</td>
</tr>

<td class="flag"><img src="/static/img/Austria.png" alt="Austria Flag"></td>
<td>25th July 1999</td>
<td>Austria</td>
<td>Red Bull Ring</td>
</tr>

<td class="flag"><img src="/static/img/Germany.png" alt="German Flag"></td>
<td>1st August 1999</td>
<td>Germany</td>
<td>Hockenheimring</td>
</tr>

<td class="flag"><img src="/static/img/Hungary.png" alt="Hungarian Flag"></td>
<td>15th August 1999</td>
<td>Hungry</td>
<td>Hungaroring</td>
</tr>

<td class="flag"><img src="/static/img/Belgium.png" alt="Belgium Flag"></td>
<td>29th August 1999</td>
<td>Belgium</td>
<td>Circuit de Spa-Francorchamps</td>
</tr>

<td class="flag"><img src="/static/img/Itay.png" alt="Italian Flag"></td>
<td>12th September 1999</td>
<td>Italy</td>
<td>Autodromo Nazionale di Monza</td>
</tr>

<td class="flag"><img src="/static/img/Europe.png" alt="European Flag"></td>
<td>26th September 1999</td>
<td>Europe</td>
<td>Nurburgring Nordschleife</td>
</tr>

<td class="flag"><img src="/static/img/Malaysia.png" alt="Malaysia Flag"></td>
<td>17th October 1999</td>
<td>Malaysia</td>
<td>Sepang International Circuit</td>
</tr>

<td class="flag"><img src="/static/img/Japan.gif" alt="Flag of Japan"></td>
<td>31 October 1999</td>
<td>Japan</td>
<td>Circuit - Suzuka</td>
</tr>



    </tbody>
  </table>



{% endblock %}
