{% extends 'base.html' %}

{% block content %}
<h1>F1 Race Calendar 1999</h1>

<span>
    1. 7th March 1999 Australia Albert Park
    2. 11th April 1999 Brazi - Autodromo Jose Carlos pace, Interlagos
    3. 2nd May 1999 - San Marino - Autodromo Enzo e Dino Ferrari
    4. 16th May 1999 - Monaco - Monte Carlo circuits
    5. 30th May 1999 - Spain - Circuit de Catalunya
    6. 13th June 1999 - Canada - Circuit Gilles Villeneuve
    7. 27th June 1999 - France - Circuit Nevers Magny-Cours
    8. 11th July 1999 - Great Britian - Silverstone Circuit
    9. 25th July 1999 - Austria - Red Bull Ring..
    10. 1st August 1999 - Germany - Hockenheimring
    11. 15th August 1999 - Hungry - Hungaroring
    12. 29th August 1999 - Belgium - Circuit de Spa-Francorchamps
    13. 12th September 1999 - Italy - Autodromo Nazionale di Monza
    14. 26th September 1999 - Europe - Nurburgring Nordschleife
    15. 17th October 1999 - Malaysia - Sepang International Circuit
    16. 31 October 1999 - Japan - Circuit - Suzuka

</span>



{% endblock %}
