{% extends 'base.html' %}

{% block content %}
<h1>F1 Cars of 1999</h1>


<section class="boxes">
    <div class="box">
        <!-- <i class="fas fa-chart-pie fa-4x"></i> -->
        <h3>Arrows A20</h3>
        <img src="/static/img/ArrowsA20.jpg" alt="Arrows Formula One Car">
    </div>
    <div class="box">
        <!-- <i class="fas fa-solid fa-globe fa-4x"></i> -->
        <h3>BAR 001</h3>
        <img src="/static/img/BAR001.jfif" alt="">
    </div>
    <div class="box">
        <!-- <i class="fas fa-solid fa-cog fa-4x"></i> -->
        <h3>Benetton B199</h3>
        <img src="/static/img/Benetton.jpg" alt="Benetton Formula One Car">
    </div>
    <div class="box">
        <!-- <i class="fas fa-solid fa-users fa-4x"></i> -->
        <h3>Ferrari F399</h3>
        <img src="/static/img/Ferrari.png" alt="Ferrari Formula one Car">
    </div>
</section>

<section class="boxes">
    <div class="box">
        <i class="fas fa-chart-pie fa-4x"></i>
        <h3>Jordan EJ9</h3>
        <img src="/static/img/Jordan.jpg" alt="Jordan Formula One Car">
    </div>
    <div class="box">
        <i class="fas fa-solid fa-globe fa-4x"></i>
        <h3>McLaren MP4-14</h3>
        <img src="/static/img/McLaren.jpg" alt="McLaren Formula One Car">
    </div>
    <div class="box">
        <i class="fas fa-solid fa-cog fa-4x"></i>
        <h3>Minardi MO1</h3>
        <img src="/static/img/Minardi.png" alt="Minardi Formula One Car">
    </div>
    <div class="box">
        <i class="fas fa-solid fa-users fa-4x"></i>
        <h3>Prost AP02</h3>
        <img src="/static/img/Prost.jpg" alt="Prost Formula One Car">
    </div>
</section>

<section class="boxes">
    <div class="box">
        <i class="fas fa-chart-pie fa-4x"></i>
        <h3>Sauber C18</h3>
        <img src="/static/img/Sauber.webp" alt="Sauber Formula One Car">
    </div>
    <div class="box">
        <i class="fas fa-solid fa-globe fa-4x"></i>
        <h3>Stewart SF3</h3>
        <img src="/static/img/Stewart.jpg" alt="Stewart Formula One Car">
    </div>
    <div class="box">
        <i class="fas fa-solid fa-cog fa-4x"></i>
        <h3>Williams FW21</h3>
        <img src="/static/img/Williams.jpg" alt="Williams Formula One Car">
    </div>
    <div class="box">
        <i class="fas fa-solid fa-cog fa-4x"></i>
        <h3>145627</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, quaerat.</p>
    </div>

</section>




{% endblock %}
