{% extends 'base.html' %}

{% block content %}

<h1>Meet The Teams</h1>

<table class="teams">
    <thead>
        <tr>
            <th>Team</th>
            <th>Engine</th>
            <th>Driver 1</th>
            <th>Driver 2</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>McLaren</td>
            <td>Mercedes</td>
            <td>Mika Hakkinen</td>
            <td>David Coulthard</td>
        </tr>

        <tr>
            <td>Ferrai</td>
            <td>Ferrari</td>
            <td>Michael Schumacher</td>
            <td>Eddie Irvine</td>
        </tr>

        <tr>
            <td>Williams</td>
            <td>Supertec</td>
            <td>Alessandro Zanardi</td>
            <td>Ralf Schumacher</td>
        </tr>

        <tr>
            <td>Jordan</td>
            <td>Mugen-Honda</td>
            <td>Damon Hill</td>
            <td>Heinz-Harald Frentzen</td>
        </tr>

        <tr>
            <td>Benetton</td>
            <td>Playlife</td>
            <td>Giancarlo Fisichella</td>
            <td>Alexander Wurz</td>
        </tr>

        <tr>
            <td>Sauber</td>
            <td>Pertonas</td>
            <td>Jean Alesi</td>
            <td>Pedro Diniz</td>
        </tr>

        <tr>
            <td>Arrows</td>
            <td>Arrows</td>
            <td>Pedro de la Rosa</td>
            <td>Toranosuke Takagi</td>
        </tr>

        <tr>
            <td>Stewart</td>
            <td>Ford</td>
            <td>Rubans Barrichello</td>
            <td>Johnny Herbert</td>
        </tr>

        <tr>
            <td>Prost</td>
            <td>Peugeot</td>
            <td>Olivier Panis</td>
            <td>Jarno Trulli</td>
        </tr>

        <tr>
            <td>Minardi</td>
            <td>Ford</td>
            <td>Stephane Sarrazin</td>
            <td>Luca Badoer</td>
        </tr>

        <tr>
            <td>BAR</td>
            <td>Supertec</td>
            <td>Jacques Villeneuve</td>
            <td>Ricardo Zonta</td>
        </tr>

        </tr>
    </tbody>

</table>

<footer>
    <p>History of Formula 1 and The 1999 Season &copy; Rebbeca Fox 2022</p>
</footer>

{% endblock %}